.companies-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 70px 0;
}

.companies-container div {
  flex: 1 0 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.companies-container div img {
  width: 80%;
  height: 24px;
}

.companies-container div .spacex-logo {
  width: 148px;
}

.companies-container div .nasa-logo,
.companies-container div .astroscale-logo {
  width: 88px;
}

@media only screen and (min-width: 1024px) {
  .companies-container {
    margin: 0 auto 50px;
    margin-top: -50px;
    max-width: 947px;
  }

  .companies-container div {
    flex: 1 0 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1920px) {
  .companies-container {
    transform: scale(1.8);
    margin-bottom: 250px;
  }
}
