.explore-container {
  position: relative;
  margin: 70px 0 70px;
  height: auto;
  /* padding: 0 24px; */
}

.explore-container .img-container-mars {
  width: 100vw;
  height: 350px;
  overflow: none;
  z-index: 1;
}

.explore-container .img-container-mars .mars {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 12% 30%;
}

.explore-content {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  margin: -325px 0 0;
  background-color: transparent;
}

.explore-container .explore-content h1 {
  font-size: 2rem;
  font-weight: var(--fw-extrabold);
  color: var(--white);
  margin-bottom: 16px;
  background-color: transparent;
}

.explore-container .explore__article {
  padding: 24px;
  margin-top: 24px;
  background-color: var(--white);
  box-shadow: var(--card-shadow);
  border-radius: var(--radius-large);
}

.explore__article .explore-card-number {
  font-size: 2rem;
  font-weight: var(--fw-extrabold);
  color: var(--light-teal);
}

.explore__article h2 {
  font-size: 1.125rem;
  font-weight: var(--fw-extrabold);
  color: var(--primary-black);
  margin: 12px 0 16px;
}

.explore__article .explore__article-content {
  font-size: 0.875rem;
  font-weight: var(--fw-medium);
  color: var(--secondary-black);
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .explore-container .img-container-mars {
    width: 100vw;
    height: 100%;
    overflow: none;
    z-index: 1;
    padding: 0 40px;
  }

  .explore-container .img-container-mars .mars {
    object-position: unset;
  }

  .explore-content {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    margin: -335px 0 0;
    background-color: transparent;
    z-index: 99;
  }

  .explore-container .explore-content h1 {
    font-size: 2.5rem;
    text-align: center;
    width: 764px;
    margin: 20px auto 52px;
  }

  .explore-articles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    margin: -20px auto 0;
    width: 85vw;
  }

  .explore__article {
    flex: 1;
  }
}
