.promotion-container {
  padding: 0 24px;
  /* background-color: bisque; */
}

.promotion-container h1 {
  font-size: 2rem;
  font-weight: var(--fw-extrabold);
  color: var(--button);
  margin-bottom: 8px;
  padding-right: 32px;
}

.promotion__article {
  margin-top: 32px;
}

.promotion__article .icon-container {
  margin-bottom: 12px;
  width: 52px;
  padding: 10px;
  border-radius: var(--radius-small);
}

.promotion__article .icon-container img {
  width: 100%;
}

.promotion__article h2 {
  font-size: 1.125rem;
  font-weight: var(--fw-extrabold);
  color: var(--primary-black);
  margin: 12px 0 8px;
}

.promotion__article p {
  font-size: 0.875rem;
  font-weight: var(--fw-medium);
  line-height: 1.5;
}

@media (min-width: 600px) {
  .articles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    /* padding-right: 40px; */
  }

  .promotion__article {
    flex: 1 0 45%;
  }

  .promotion-container h1 {
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .promotion-container {
    display: flex;
    flex-direction: row;
    max-width: 947px;
    margin: 0 auto;
  }

  .promotion-container h1 {
    flex: 1;
    font-size: 2.1rem;
    max-width: 420px;
  }

  .articles-container {
    flex: 2;
    justify-content: flex-end;
    margin-left: auto;
  }

  .promotion__article {
    flex: 1 0 46%;
    margin-top: unset;
  }
}

@media (min-width: 1920px) {
  .promotion-container {
    transform: scale(1.8);
    margin-bottom: 500px;
  }
}
