.promotion-container {
  padding: 0 24px;
}

.promotion-container h1 {
  font-size: 2rem;
  font-weight: var(--fw-extrabold);
  color: var(--button);
  margin-bottom: 8px;
}

.promotion__article {
  margin-top: 32px;
}

.promotion__article .icon-container {
  margin-bottom: 12px;
  width: 52px;
  padding: 10px;
  border-radius: var(--radius-small);
}

.promotion__article .icon-container img {
  width: 100%;
}

.promotion__article h2 {
  font-size: 1.125rem;
  font-weight: var(--fw-extrabold);
  color: var(--primary-black);
  margin: 12px 0 8px;
}

.promotion__article p {
  font-size: 0.875rem;
  font-weight: var(--fw-medium);
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .promotion-container {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
  }

  .promotion-container h1 {
    flex: 2.2;
    font-size: 2.5rem;
    padding-left: 20px;
    max-width: 400px;
  }

  .articles-container {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-right: 40px;
  }

  .promotion__article {
    flex: 1 0 46%;
    margin-top: unset;
  }
}
