:root {
  --primary-black: #020305;
  --secondary-black: #171e27;
  --light-teal: #a9c2cb;
  --button: #0d0f12;
  --white: #fff;
  --light-brown-gray: #5c5050;

  --hero-box-shadow: 6px 4px 38px -10px #0d0f1280;
  --box-shadow: 0 4px 8px #0d0f1280;
  --card-shadow: 0 20px 39px -12px #64767d33;
  --button-shadow: 0 19px 45px -10px #0d0f1280;
  --astronaut-shadow-color: #63757ccc;
  --astronaut-shadow-filter: blur(67px);

  --radius-small: 12px;
  --radius-medium: 16px;
  --radius-large: 24px;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, "Plus Jakarta Sans", BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Plus Jakarta Sans";
}

input {
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  border: none;
  outline: none;
}

.sr-only {
  display: none;
}

.icon-container {
  background-color: var(--light-teal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container img {
  transform: translateY(1px);
}
